@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Hide scrollbars globally but keep scroll working ===== */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}
